//- dashboard.pug
extends ../../templates/layout

block conteudo
  .grid(class="grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-6")
    .card.bg-gray-700.shadow-md.p-6
      h3.text-xl.font-medium.mb-2 Total em Contas
      p.text-lg R$ 4.500,00
    .card.bg-gray-700.shadow-md.p-6
      h3.text-xl.font-medium.mb-2 Total de Transações
      p.text-lg 15 transações
    .card.bg-gray-700.shadow-md.p-6
      h3.text-xl.font-medium.mb-2 Saldo Total
      p.text-lg R$ 1.500,00

  h3.text-xl.font-medium.mb-4 Atividades Recentes
  .overflow-x-auto
    table.table.table-zebra.w-full
      thead
        tr
          th Data
          th Conta
          th Categoria
          th Valor
          th Descrição
      tbody
        - for(let transacao of transacoes)
          tr
            td #{transacao.data}
            td #{transacao.conta}
            td #{transacao.categoria}
            td #{transacao.valor}
            td #{transacao.descricao}


  .grid.grid-cols-1(class="sm:grid-cols-2 gap-6 mt-6")
    div
      a.btn.btn-primary.w-full(href="/contas") Gerenciar Contas
    div
      a.btn.btn-primary.w-full(href="/transacoes") Ver Transações